:root {
    --primary-color: #ec1f55;
    --text-color: #333;
    --bg-color-primary: #f5f5f5;
    --bg-color-secondary: #fff;
    --bg-toggle-btn: #888;
    --box-shadow: rgba(100, 100, 110, 0.2) 0px 8px 28px 0px;

}

[data-theme="dark"] {
    --primary-color: #7200a1;
    --text-color: #d4d5d6;
    --bg-color-primary: #18191a;
    --bg-color-secondary: #242526;
    --bg-toggle-btn: #4e4f50;
    --box-shadow: rgba(83, 81, 81, 0.2) 0px 8px 28px 0px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--bg-color-primary);
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: var(--bg-color-primary);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    /* border: 1px solid #f5f5f5; */
    box-shadow: var(--box-shadow);

}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: var(--text-color);
    background-size: cover;
    margin: auto;

}

/* CONTROL */
.controlTime {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: var(--text-color);
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
    transition: all ease 0.8s;
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: var(--bg-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 80%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease;
    margin: 0 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.progress:hover{
    height:10px;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -420px 0 0 420px var(--primary-color);
    
}
.progress::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius:50%;
    cursor: pointer;
    background-color: var(--primary-color);
    top: 100px;
}

/* PLAYLIST */
.playlist {
    margin-top: 408px;
    padding: 12px;
    scroll-behavior: smooth;


}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: var(--bg-color-secondary);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all ease 0.5s;
    cursor: pointer;
}

.song.active {
    background-color: var(--primary-color);
    animation: identifier ease 0.3s;
    color: var(--text-color);

}

@keyframes identifier {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

.song:active {
    opacity: 0.5;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: var(--bg-color-secondary);
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: var(--text-color);
    font-size: 18px;
}

#togle-btn {
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--bg-toggle-btn);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 10px;
    right: 35%;
    z-index: 1;
}
@media (max-width: 739px) {
    #togle-btn {
        width: 40px;
        height: 20px;
        border-radius: 20px;
        background-color: var(--bg-toggle-btn);
        box-shadow: var(--box-shadow);
        position: fixed;
        top: 10px;
        right: 3%;
        z-index: 1;
    }
}

#togle-btn::before {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 15px;
    height: 15px;
    background-color: var(--bg-color-secondary);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.35s;
}

#togle-btn.active::before {
    transform: translateX(20px);
}
.controlTime-right,
.controlTime-left {
    width:10%;
    color: var(--text-color);
}
